img{
    border-radius: 50%;}
body{
    background-image: url(bg.jpg) ;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover;
    
    }
hr{
    background-color: aqua;
    border-style: dotted;
    border-color: bisque;
    height: 1px;
    width: 80%;
}
h1{
    color: #B79CED;
}
h2{
    color: #957FEF;
}
p{
    color: #EFD9CE;
}
li{
    color: #CACFD6;
}
a{
    text-decoration: none;
    text-align: center;
    color: royalblue;

}